:root {
  --red: #e20613;
  --orange: #e8481d;
  --yellow: #f59c2c;
  --green: #00964f;
  --lightblue: #2ea1d9;
  --purple: #8e1e80;
}

.language-btn {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1.5px solid var(--purple);
  border-radius: 1.5rem;
  padding: 0.35rem 1.2rem 0.35rem 1.2rem;
}

.language-btn:hover {
  background-color: var(--purple);
  border-color: white;
}

.homepage {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1.5px solid var(--red);
  border-radius: 1.5rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.homepage:hover {
  background-color: var(--red);
  border-color: white;
}

.video {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1.5px solid var(--orange);
  border-radius: 1.5rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.video:hover {
  background-color: var(--orange);
  border-color: white;
}

.quiz {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1.5px solid var(--yellow);
  border-radius: 1.5rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.quiz:hover {
  background-color: var(--yellow);
  border-color: white;
}

.information {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1.5px solid var(--green);
  border-radius: 1.5rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.information:hover {
  background-color: var(--green);
  border-color: white;
}

.about {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  background-color: #ffffff;
  border: 1.5px solid var(--lightblue);
  border-radius: 1.5rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.about:hover {
  background-color: var(--lightblue);
  border-color: white;
}

.lng-arrow {
    margin-top: 0.2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0)!important;
    transition: color 0.5s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background: var(--purple);
    transition: width 0.3s;
}

.fade-out {
  position: fixed;
  top: positionY;
  left: positionX;
  width: 50px;
  height: 50px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: var(--purple);
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: all 1s ease;
  transform: scale(50);
}

.logo {
  float: left;
}

  /* a {
    font-family: Louis George Cafe;
  } */